name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:   
  build:
    name: Swift ${{ matrix.swift-version }} on ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [macos-12, ubuntu-latest]
        swift-version: ["5.6", "5.7"]
    
    runs-on: ${{ matrix.os }}

    steps:
    - uses: swift-actions/setup-swift@v1
      with:
        swift-version: ${{ matrix.swift-version }}
    - uses: actions/checkout@v3
    - name: Build
      run: swift build
    - name: Run tests
      run: swift test
